

body {
    heigh:665px;
    background-image: url("https://www.expreso.info/files/styles/expreso_theme_teaser_secundario_desktop/public/2021-03/IATA_avion.jpg?itok=9w-1gkHw");
     background-size: 100%;

  }