
body {
    heigh:665px;
    background-image: url("https://th.bing.com/th/id/R.034ebab1b6402cf7df4518c177a84bad?rik=ZgdXxj4o2ml2hQ&riu=http%3a%2f%2fwww.manualidadesypapelpintado.com%2fserver%2fPortal_0003309%2fimg%2fproducts%2fref-67927120-textura-azul_1900201.jpg&ehk=byogSFcXXOnPvSGY7dCsXoo9ASjK9RumA01nqEBND7o%3d&risl=&pid=ImgRaw&r=0");
     background-size: 100%;

  }