
body {
    heigh:665px;
    background-image: url("https://thumbs.dreamstime.com/z/aplicaci%C3%B3n-de-reserva-vuelos-para-im%C3%A1genes-vectoriales-tel%C3%A9fonos-m%C3%B3viles-y-billetes-avi%C3%B3n-sobre-imagen-vectorial-azul-194975889.jpg");
     background-size: 100%;

  }